@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    color: #111111;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    user-select: none;
}
